{
  "parser": "babel-eslint",
  "extends": [
    "eslint-config-airbnb",
    "eslint-config-jss"
  ],
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": true
      }
    ]
  }
}
